.container {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #DDD;
}


.portrait {
	display: hidden;

	@media only screen and (orientation: landscape) {
		display: none;
	}
}
.landscape {
	display: hidden;

	@media only screen and (orientation: portrait) {
		display: none;
	}
}

.table {
	width: 100%;

	tbody>tr>td {
		text-align: center;
		vertical-align: middle;
		height: 4em;

		.portrait & {
			width: 25%;
		}
		.landscape & {
			width: 10%;
		}

		&:focus,
		&:active {
			background: darken(#DDD, 20);
		}
	}
}